{% extends 'base.html' %}

{% block contenido %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
  $(document).ready(function(){
    $('.likes').css('cursor', 'pointer')

    $('.likes').click(function(){
      let subir = true
      if($(this).html() == '👎'){
        subir = false
      }
      ActualizarLikes(subir)
    })

    function ActualizarLikes(subir){
      $.ajax({
        url: '/cambiarlikes/{{excursion.id}}',
        data: {subir:subir},
        success: function(respuesta){
          console.log(respuesta)
        }
      })
    }
  })
</script>

<div class="container">
    <div class="text-end">
        <a type="button" href="{% url 'editar' id=excursion.id %}" class="btn btn-outline-warning">Editar</a>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
          Eliminar
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Confirmación</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ¿Estás seguro de que quieres eliminar esta excursión?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Ignorar</button>
            <a type="button" href="{% url 'eliminar' id=excursion.id %}" class="btn btn-danger">Eliminar</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3 mt-1">
        <div class="row g-0">
          <div class="col-md-4">
            {% load static %}
            <img src="{% static 'images/' %}{{ excursion.id }}.jpg" class="img-fluid" style="width: 25rem;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{excursion.nombre}}</h5>
              <p class="card-text">{{excursion.descripcion}}</p>
              <div>
                <span class="likes">👍</span>  <span class="likes">👎</span>   {{excursion.likes}}
              </div>
              <div class="text-end mt-5">
                <a href="#" class="btn btn-primary btn-lg">Unirse</a>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}