{% extends 'base.html' %}

{% block contenido %}
<div class="container">
    <div class="text-end">
        <a type="button" href="{% url 'editar' id=excursion.id %}" class="btn btn-outline-warning">Editar</a>
        <a type="button" href="{% url 'eliminar' id=excursion.id %}" class="btn btn-outline-danger">Eliminar</a>
    </div>

    <div class="card mb-3 mt-1">
        <div class="row g-0">
          <div class="col-md-4">
            {% load static %}
            <img src="{% static 'images/' %}{{ excursion.id }}.jpg" class="img-fluid" style="width: 25rem;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{excursion.nombre}}</h5>
              <p class="card-text">{{excursion.descripcion}}</p>
              <div class="text-end mt-5">
                <a href="#" class="btn btn-primary btn-lg">Unirse</a>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}