{% extends 'base.html' %}

{% block contenido %}
<div class="mb-3">
	<form method="post" action="{% url 'buscar' %}">{% csrf_token %}
		<label for="exampleFormControlInput1" class="form-label">Busca tu excursión</label>
		<input type="text" name="busqueda" class="form-control" id="exampleFormControlInput1" placeholder="...">
	</form>
</div>

{% if buscado%}
	{% if not excursiones%}
		<p>No encontramos ningun evento que coincida</p>
	{% endif %}
{% endif %}

<div class="d-flex flex-wrap mt-5 justify-content-around">
	{% for e in excursiones %}
		<div class="card me-3 mb-5" style="width: 18rem;">
			{% load static %}
			<img src="{% static 'images/' %}{{ e.id }}.jpg" class="card-img-top">
			<div class="card-body">
				<h5 class="card-title">{{ e.nombre }}</h5>
				<p class="card-text">{{ e.descripcion }} </p>
				<a href="#" class="btn btn-primary">Más información</a>
			</div>
		</div>
	{% endfor %}
</div>


{% endblock %}